*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: darkslategray;
    text-align: center;
}

header{
    height: 100px;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 1rem;
}


.container{
    max-width: 700px;
    margin: 0 auto;
}

h1{
    margin-left: 1rem;
    color: black;
    font-size: 3em;
}
.box{
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}
.sq{
    width: 4rem;
    height: 4rem;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid black;
    cursor: pointer;
    user-select: none;
}

.selected{
    background-color: lightgrey;
    color: black;
}
